{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

    We have variety of products.
{% endblock %}
{% block title %}
  Search
{% endblock %}
{% block content %}
<div>
  <p class="text-center my_search_text"> You have search for :<b> "{{query}}"</b></p>
</div>
<div class="container">
  <div class="row mx_auto">
    {% for product in products %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
      <div class="container">
      <div class="card text-center" style="min-width:18rem;">
        <a href="{{product.get_url}}"><img clas="card-img-top my_image" src="{{product.image.url}}" style="width:200px; height:200px" alt="{{product.name}}"></a>
        <div class="card-body">
          <h4>{{product.name}}</h4>
          <p>{{product.price}}</p>
        </div>
      </div>
      </div>
    </div>
    {% empty %}
    <div class="row mx_auto">
      <p class="text-center my_seacrh_text"> 0 Results Found</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}